<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments :: page_head('Home - Shop Admin', 'none')">
</head>
<body>
<div class="container-fluid">
    <div th:replace="navigation :: menu"></div>

    <h2>Welcome to Shop!</h2>
    Welcome
    <a th:href="@{/account}" sec:authentication="principal.username">
    </a>
    <span sec:authentication="principal.authorities"></span>
</div>

</body>
</html>